/* ----- Base Rules ------ */

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar {
  display: none;
}

/* ----- Layout Rules ------ */

.wrapper {
  min-height: calc(100vh - 30px);
  /* Sticks footer to bottom of page */
}

.main-header {
  width: 100%;
  height: 200px;
  margin: 0;
  background: -webkit-linear-gradient(bottom, #fff, transparent 80%), url('../../img/floor/f2.jpg');
  background: -o-linear-gradient(bottom, #fff, transparent 80%), url('../../img/floor/f2.jpg');
  background: linear-gradient(to top, #fff, transparent 80%), url('../../img/floor/f2.jpg');
  line-height: 200px;
  text-shadow: 2.5px 2.5px 2.5px #000;
  font-size: 2.25em;
  color: #fff;
}

.main-content {
  max-width: 80%;
  margin: 0 auto;
}

.cursive {
  font-family: 'Dancing Script', cursive;
  border-left: 5px solid #fff;
  padding-left: 20px;
}

.about {
  margin: 0 auto 5px;
  font-size: .75em;
}

.middot {
  margin: 0;
  font-size: 2em;
}

.categories {
  width: 100%;
}

.category {
  width: 100%;
  overflow: hidden;
}

.category-header {
  position: relative;
  width: 100%;
  height: 150px;
  line-height: 150px;
  color: #fff;
}

.category-header-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #000;
  opacity: .8;
  font-size: .5em;
}

.overlay-content {
  margin: 60px 20px 0;
  font-size: 1em;
  line-height: normal;
}

.gallery-reveal {
  width: 80%;
  height: 25px;
  margin: 0 auto;
  border-bottom: 1px solid #000;
  line-height: 25px;
}

.gallery-window {
  display: none;
  width: 75%;
  height: 76px;
  margin: 10px auto 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

.img-slider {
  overflow-x: hidden;
}

.image {
  max-width: 80px;
  vertical-align: top;
}

.contact-header {
  margin: 40px 0 10px;
}

.contact-method {
  padding: 5px 0 5px;
}

.main-footer {
  height: 30px;
  margin-top: 30px;
  line-height: 30px;
}

#kitchen {
  background-image: url('../../img/kitchen/k1.jpg');
}

#bath {
  background-image: url('../../img/bath/b32.jpg');
}

#floor {
  background-image: url('../../img/floor/f17.jpg');
}

#fireplace {
  background-image: url('../../img/fireplace/fp5.jpg');
}


/* ----- Pseudo Classes ------ */

.gallery-reveal:hover {
  cursor: pointer;
}

/* ----- OOCSS Styles ------ */

.cntr-txt {
  text-align: center;
}

.bkgrnd-cover {
  background-size: cover;
  background-position: center;
}


/* ----- Media Queries ------ */


    /* ----- Major Breakpoints ------ */

@media (min-width: 680px) {
  .main-header {
    height: 400px;
    line-height: 400px;
    font-size: 4em;
  }
  .about-header {
    margin-bottom: 25px;
    font-size: 2em;
  }
  .about {
    width: 80%;
    margin-bottom: 10px;
    font-size: 1em;
  }
  .middot {
    font-size: 2.5em;
  }
  .category-header {
    height: 250px;
    line-height: 250px;
    font-size: 2.25em;
  }
  .overlay-content {
    margin: 100px 30px 0;
  }
  .gallery-reveal {
    height: 40px;
    margin: 0 auto 20px;
    line-height: 40px;
    font-size: 1.25em;
  }
  .gallery-window {
    width: 80%;
    height: 130px;
  }
  .image {
    max-width: 150px;
  }
}

@media (min-width: 1024px) {
  .main-header {
    height: 800px;
    line-height: 800px;
    font-size: 8em;
  }
  .about-header {
    font-size: 2.5em;
  }
  .about {
    font-size: 1.15em;
  }
  .middot {
    font-size: 3em;
  }
  .category-header {
    height: 400px;
    line-height: 400px;
    font-size: 3.25em;
  }
  .overlay-content {
    margin: 180px 30px 0;
  }
  .gallery-reveal {
    margin: 40px auto;
    font-size: 1.5em;
  }
  .gallery-window {
    height: 140px;
  }
  .image {
    max-width: 160px;
  }
  .contact-method:not(:last-child) {
    border-right: 1px solid #000;
  }
  .contact-method {
    display: inline-block;
    padding: 3px 10px;
  }
}
